.title {
  display: block;
  text-align: center;
}

.price {
  display: block;
  margin: 0 0 30px;
}

.save {
  padding: 15px;
  background: rgb(93 93 93 / 40%);
  border: 1px solid rgba(113 119 144 / 25%);
  border-radius: 15px;
  cursor: pointer;
  transition: 0.5s;
  backdrop-filter: blur(15px);
}

.save:hover {
  background-color: rgba(36, 36, 36, 0.4);
}

.description {
  word-break: break-word;
  margin: 0 0 30px;
  line-height: 30px;
}

.heading {
  font-size: 30px;
  text-align: center;
  margin: 0 0 50px;
}

.search {
  display: block;
  outline: none;
  background: none;
  width: 220px;
  height: 40px;
  color: #fff;
  border: 1px solid #fff;
  font-size: 25px;
  padding: 0 10px;
  margin: 0 0 30px;
}

.productImage {
  border-radius: 20px;
  width: 200px;
  border: 1px solid rgba(113 119 144 / 25%);
  height: 150px;
}
