.registered span {
  margin: 0 0 40px;
  display: block;
}

.registered a {
  color: rgb(202, 202, 202);
  text-decoration: none;
}

.registered p {
  margin: 0 0 50px;
}

.registered a:hover {
  text-decoration: underline;
}
