.description {
  font: 25px "MyriadProRegular";
  width: 713.48px;
  height: 88px;
  background: none;
  color: rgb(202, 202, 202);
  resize: vertical;
  border: 1px solid rgb(202, 202, 202);
  outline: none;
}

.text {
  border: 1px solid rgba(16 18 27 / 40%);
}
