.productsInfo {
  background-color: rgba(16 18 27 / 40%);
  backdrop-filter: blur(20px);
  box-shadow: 0px 0px 10px black;
  width: 550px;
  min-height: 200px;
  border-radius: 20px;
  font-size: 25px;
  padding: 40px 30px;
  border: 1px solid rgba(113 119 144 / 25%);
  color: rgb(202, 202, 202);
  margin: 0 auto;
}

.greetings {
  display: block;
  margin: 0 0 50px;
  color: rgb(255, 255, 255);
}

.info {
  margin: 0 0 80px;
}

.info mark {
  color: rgb(202, 202, 202);
  background: none;
  font-family: "MyriadProBold";
}

.categories {
  color: rgb(255, 255, 255);
}

.categories:hover {
  color: rgb(157, 157, 157);
}
