.title {
  display: block;
  text-align: center;
}

.price {
  display: block;
  margin: 0 0 30px;
}

.description {
  word-break: break-word;
  margin: 0 0 30px;
  line-height: 30px;
}

.title mark,
.price mark {
  background: none;
  color: rgb(202, 202, 202);
  font-family: "MyriadProBold";
  margin: 0 10px 0 0;
}
