.header {
  font-size: 26px;
  line-height: 26px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  column-gap: 75px;
  background-color: rgba(16 18 27 / 40%);
  backdrop-filter: blur(20px);
  border-bottom: 1px solid rgba(113 119 144 / 25%);
  min-width: 630px;
  padding: 10px 40px;
  margin: 0 0 60px;
  z-index: 1;
  position: relative;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  column-gap: 68px;
}

.list a {
  position: relative;
}

.loginPanel {
  display: flex;
  align-items: center;
  padding: 0 35px 0 0;
  color: #fff;
}

.loginPanel img {
  width: 70px;
}

.loginPanel a {
  cursor: pointer;
  margin: 0 10px;
  text-decoration: none;
  color: #fff;
}

.loginPanel a:hover {
  color: rgb(157, 157, 157);
}

.list a {
  color: #fff;
  text-decoration: none;
  position: relative;
}

.list a:hover,
.list .active,
.list a:hover svg,
.active svg {
  color: rgb(157, 157, 157);
  fill: rgb(157, 157, 157);
}

.icon {
  margin: 0 0 0 5px;
  position: absolute;
  right: -30px;
}

@media (max-width: 1100px) {
  .list {
    display: none;
  }

  .header {
    padding: 10px 5px 0 15px;
  }

  .loginPanel {
    padding: 0 65px 0 0;
  }
}
