.title {
  display: block;
  text-align: center;
}

.price {
  display: block;
  margin: 0 0 30px;
}

.save {
  padding: 15px;
  background: rgb(93 93 93 / 40%);
  border: 1px solid rgba(113 119 144 / 25%);
  border-radius: 15px;
  cursor: pointer;
  transition: 0.5s;
  backdrop-filter: blur(15px);
}

.save:hover {
  background-color: rgba(36, 36, 36, 0.4);
}

.description {
  word-break: break-word;
  margin: 0 0 30px;
  line-height: 30px;
}

.heading {
  font-size: 30px;
  text-align: center;
  margin: 0 0 50px;
}

.search {
  display: block;
  outline: none;
  background: none;
  width: 220px;
  height: 40px;
  color: #fff;
  border: 1px solid #fff;
  font-size: 25px;
  padding: 0 10px;
  margin: 0 0 30px 15px;
}

.productImage {
  border-radius: 20px;
  width: 200px;
  border: 1px solid rgba(113 119 144 / 25%);
  height: 150px;
}

.noFilteredItemsMessage {
  display: block;
  margin: 0 0 40px;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  justify-content: space-evenly;
  margin: 0 0 40px;
  row-gap: 20px;
  overflow: auto;
  height: 450px;
}

.products li {
  text-align: center;
  position: relative;
}

.products a:hover {
  color: rgb(157, 157, 157);
}

.buttons {
  position: absolute;
  top: 2px;
  right: -3px;
}

.buttons button {
  background-color: rgba(16 18 27 / 70%);
  backdrop-filter: blur(20px);
  border-radius: 5px;
  box-shadow: 0px 0px 10px black;
  align-items: center;
  flex-direction: column;
  width: 35px;
  height: 35px;
  cursor: pointer;
  margin: 0 2px 0 0;
  border: 1px solid rgba(113 119 144 / 25%);
}

.editIcon:hover {
  fill: rgb(106, 106, 106);
}

.deleteIcon:hover {
  fill: red;
}

.addNew {
  padding: 15px;
  background: rgb(93 93 93 / 40%);
  border: 1px solid rgba(113 119 144 / 25%);
  border-radius: 15px;
  cursor: pointer;
  transition: 0.5s;
  backdrop-filter: blur(15px);
}

.addNew:hover {
  background-color: rgba(36, 36, 36, 0.4);
}

.noImage {
  border-radius: 20px;
  border: 1px solid rgba(113 119 144 / 25%);
  height: 150px;
  margin: 0 0 10px;
  padding: 0 41px;
}
