@font-face {
  font-family: "MyriadProRegular";
  src: url(./fonts/MyriadProRegular.ttf);
}

@font-face {
  font-family: "MyriadProBold";
  src: url(./fonts/MyriadProBold.ttf);
}

:global body {
  background: url(./images/background.jpeg);
  height: 100%;
  margin: 0;
  font-family: "MyriadProRegular";
}

:global #app {
  margin: 0 auto;
  padding: 0 0 50px;
}

:global ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

:global a {
  text-decoration: none;
  color: rgb(202, 202, 202);
}
